<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" 
        xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Сервер Websocket</title>
        <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
        <h:outputStylesheet library="common-resources" name="css/primeflex.css" /> 
    </head>
    
    <body>
        Сервер стартовал {WebSocketServer}
  
    </body>
</html>

